.container {
  width: 1024px;
  margin: 0 auto;
}

@media screen and (max-width: 1024px) {
  .container {
    width: auto;
    padding: 0 105px;
  }
}

@media screen and (max-width: 768px) {
  .container {
    padding: 0 21px;
  }
}
